Python=3.12.0
Package                                           Version
------------------------------------------------- ------------
absl-py                                           2.1.0
accelerate                                        1.0.1
aiohappyeyeballs                                  2.4.3
aiohttp                                           3.10.10
aiosignal                                         1.3.1
annotated-types                                   0.7.0
anyio                                             4.6.2.post1
asgiref                                           3.8.1
astunparse                                        1.6.3
attrs                                             24.2.0
backoff                                           2.2.1
bcrypt                                            4.2.0
beautifulsoup4                                    4.12.3
blobfile                                          3.0.0
build                                             1.2.2.post1
cachetools                                        5.5.0
certifi                                           2024.8.30
cffi                                              1.17.1
chardet                                           5.2.0
charset-normalizer                                3.4.0
chroma-hnswlib                                    0.7.6
chromadb                                          0.5.15
ci-info                                           0.3.0
click                                             8.1.7
colorama                                          0.4.6
coloredlogs                                       15.0.1
configobj                                         5.0.9
configparser                                      7.1.0
cryptography                                      43.0.1
Cython                                            3.0.11
dataclasses-json                                  0.6.7
datasets                                          3.0.2
decorator                                         5.1.1
Deprecated                                        1.2.14
dill                                              0.3.8
dirtyjson                                         1.0.8
distro                                            1.9.0
durationpy                                        0.9
Elixir                                            0.7.1
et_xmlfile                                        2.0.0
etelemetry                                        0.3.1
fastapi                                           0.115.2
filelock                                          3.16.1
fire                                              0.7.0
fitz                                              0.0.1.dev2
FlagEmbedding                                     1.2.11
flatbuffers                                       24.3.25
frozenlist                                        1.4.1
fsspec                                            2024.9.0
gast                                              0.6.0
google-auth                                       2.35.0
google-pasta                                      0.2.0
googleapis-common-protos                          1.65.0
greenlet                                          3.1.1
grpcio                                            1.66.2
h11                                               0.14.0
h5py                                              3.12.1
httpcore                                          1.0.6
httplib2                                          0.22.0
httptools                                         0.6.2
httpx                                             0.27.2
huggingface-hub                                   0.25.2
humanfriendly                                     10.0
idna                                              3.10
importlib_metadata                                8.4.0
importlib_resources                               6.4.5
isodate                                           0.6.1
jieba                                             0.42.1
Jinja2                                            3.1.4
jiter                                             0.6.1
joblib                                            1.4.2
json_tools                                        0.4.1
jsonpatch                                         1.33
jsonpointer                                       3.0.0
keras                                             3.6.0
kubernetes                                        31.0.0
langchain                                         0.3.3
langchain-community                               0.3.2
langchain-core                                    0.3.10
langchain-openai                                  0.2.2
langchain-text-splitters                          0.3.0
langsmith                                         0.1.135
libclang                                          18.1.1
llama-cloud                                       0.1.4
llama_cpp_python                                  0.1.9
llama-index                                       0.11.20
llama-index-agent-openai                          0.3.4
llama-index-cli                                   0.3.1
llama-index-core                                  0.11.20
llama-index-embeddings-openai                     0.2.5
llama-index-indices-managed-llama-cloud           0.4.0
llama-index-legacy                                0.9.48.post3
llama-index-llms-openai                           0.2.16
llama-index-multi-modal-llms-openai               0.2.3
llama-index-postprocessor-flag-embedding-reranker 0.2.0
llama-index-program-openai                        0.2.0
llama-index-question-gen-openai                   0.2.0
llama-index-readers-file                          0.2.2
llama-index-readers-llama-parse                   0.3.0
llama_models                                      0.0.46
llama-parse                                       0.5.12
llama_stack                                       0.0.46
looseversion                                      1.3.0
lxml                                              5.3.0
Markdown                                          3.7
markdown-it-py                                    3.0.0
MarkupSafe                                        3.0.1
marshmallow                                       3.22.0
mdurl                                             0.1.2
ml-dtypes                                         0.4.1
mmh3                                              5.0.1
monotonic                                         1.6
mpmath                                            1.3.0
multidict                                         6.1.0
multiprocess                                      0.70.16
mypy-extensions                                   1.0.0
namex                                             0.0.8
nest-asyncio                                      1.6.0
networkx                                          3.4.1
nibabel                                           5.3.1
nipype                                            1.8.6
nltk                                              3.9.1
numpy                                             1.26.4
oauthlib                                          3.2.2
onnxruntime                                       1.19.2
openai                                            1.51.2
openpyxl                                          3.1.5
opentelemetry-api                                 1.27.0
opentelemetry-exporter-otlp-proto-common          1.27.0
opentelemetry-exporter-otlp-proto-grpc            1.27.0
opentelemetry-instrumentation                     0.48b0
opentelemetry-instrumentation-asgi                0.48b0
opentelemetry-instrumentation-fastapi             0.48b0
opentelemetry-proto                               1.27.0
opentelemetry-sdk                                 1.27.0
opentelemetry-semantic-conventions                0.48b0
opentelemetry-util-http                           0.48b0
opt_einsum                                        3.4.0
optree                                            0.13.0
orjson                                            3.10.7
overrides                                         7.7.0
packaging                                         24.1
pandas                                            2.2.3
pathlib                                           1.0.1
pbr                                               6.1.0
pdfminer.six                                      20231228
pdfplumber                                        0.11.4
peft                                              0.13.2
pillow                                            10.4.0
pip                                               24.2
pkuseg                                            0.0.25
posthog                                           3.7.0
prompt_toolkit                                    3.0.48
propcache                                         0.2.0
protobuf                                          4.25.5
prov                                              2.0.1
psutil                                            6.1.0
pyarrow                                           17.0.0
pyasn1                                            0.6.1
pyasn1_modules                                    0.4.1
pycparser                                         2.22
pycryptodomex                                     3.21.0
pydantic                                          2.9.2
pydantic_core                                     2.23.4
pydantic-settings                                 2.5.2
pydot                                             3.0.2
Pygments                                          2.18.0
PyMuPDF                                           1.24.11
pyparsing                                         3.2.0
pypdf                                             4.3.1
pypdfium2                                         4.30.0
PyPika                                            0.48.9
pyproject_hooks                                   1.2.0
pyreadline3                                       3.5.4
pytesseract                                       0.3.13
python-dateutil                                   2.9.0.post0
python-dotenv                                     1.0.1
pytz                                              2024.2
pyxnat                                            1.6.2
PyYAML                                            6.0.2
rank-bm25                                         0.2.2
rdflib                                            6.3.2
regex                                             2024.9.11
requests                                          2.32.3
requests-oauthlib                                 2.0.0
requests-toolbelt                                 1.0.0
rich                                              13.9.2
rsa                                               4.9
safetensors                                       0.4.5
scikit-learn                                      1.5.2
scipy                                             1.14.1
sentence-transformers                             3.2.0
setuptools                                        75.1.0
shellingham                                       1.5.4
simplejson                                        3.19.3
six                                               1.16.0
sniffio                                           1.3.1
soupsieve                                         2.6
SQLAlchemy                                        0.7.10
sqlalchemy-migrate                                0.11.0
sqlparse                                          0.5.1
starlette                                         0.40.0
striprtf                                          0.0.26
sympy                                             1.13.1
tabulate                                          0.9.0
Tempita                                           0.5.2
tenacity                                          8.5.0
tensorboard                                       2.17.1
tensorboard-data-server                           0.7.2
tensorflow                                        2.17.0
tensorflow-intel                                  2.17.0
tensorflow-io-gcs-filesystem                      0.31.0
termcolor                                         2.5.0
tesseract                                         0.1.3
tf_keras                                          2.17.0
threadpoolctl                                     3.5.0
tiktoken                                          0.8.0
tokenizers                                        0.20.1
torch                                             2.5.0+cu118
torchaudio                                        2.5.0+cu118
torchvision                                       0.20.0+cu118
tqdm                                              4.66.5
traits                                            6.3.2
transformers                                      4.45.2
typer                                             0.12.5
typing_extensions                                 4.12.2
typing-inspect                                    0.9.0
tzdata                                            2024.2
urllib3                                           2.2.3
uvicorn                                           0.32.0
watchfiles                                        0.24.0
wcwidth                                           0.2.13
websocket-client                                  1.8.0
websockets                                        13.1
Werkzeug                                          3.0.4
wheel                                             0.44.0
wrapt                                             1.16.0
xlrd                                              0.7.1
xlwt                                              0.7.2
xxhash                                            3.5.0
yarl                                              1.15.3
zipp                                              3.20.2